@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --l-blue: #bde4ea;
  --blue: #84cdd7;
  --d-blue: #1c575f;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  padding: 16px;
  max-width: 425px;
  min-width: 375px;
  min-height: 925px;
  width: 100%;
  background-color: aliceblue;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
input#ham-menu {
  appearance: none;
  width: 20px;
  margin: 10px;
  height: 14px;
  background: url(assets/ham.svg) center/100% 100% no-repeat;
}
.bar {
  width: 100%;
  height: 103px;
  border-radius: 21px;
  background-color: var(--blue);
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 26px;
  }
  &:first-child {
    height: 188px;
  }
  span {
    height: 100%;
    width: 74px;
    display: inline-block;
    background-color: var(--l-blue);
    box-shadow: 2px 0px 14px -7px rgba(0, 0, 0, 0.25);
  }
}
.ham-menu-list {
  header {
    justify-content: flex-end;
    max-width: 393px;
    min-width: 375px;
    width: 100%;
    margin: 20px auto;
  }
}
input#ham-menu-list {
  appearance: none;
  width: 20px;
  margin: 10px;
  height: 11px;
  background: url(assets/back.svg) center/100% 100% no-repeat;
}
.links {
  a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    display: block;
    font-size: 29px;
    line-height: 35px;
    margin-left: 37px;
    color: var(--d-blue);
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}
.ham-menu-list {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateX(100%);
  background-color: white;
  transition: transform linear 0.3s;
  will-change: transform;
}
#ham-menu:checked ~ .ham-menu-list {
  transform: translateX(0);
}
